.chart-card {
  position: relative;
}

.chart-title {
  padding: 16px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
}

.chart-container {
  display: table;
  margin: auto;
  position: relative;
}
