<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">EPSRC</a>
        <span class="navbar-text small">
            EPSRC spend transactions of Jan 2015
        </span>
    </nav>
</header>

<div class="container mt-5 mb-5">

    <div *ngIf="viewState === STATES.NORMAL">

        <div class="alert alert-secondary" role="alert">
            <small>Tip! Click column header for <span class="font-weight-bold">table sorting</span>. </small>
        </div>

        <app-data-table [csv]="csvData"></app-data-table>

        <div class="card bg-light text-dark mt-4" *ngIf="daysTotal">
            <div class="card-header">
                EPSRC Total Spend visualization
            </div>
            <div class="card-body">
                <app-chart [width]="600" [height]="350" [type]="daysTotal.type" [title]="daysTotal.title"
                    [xAxis]="daysTotal.xAxis" [seriesA]="daysTotal.seriesA"></app-chart>

            </div>
            <div class="card-footer">
                <small>Data has been retrieved from: <i>https://data.gov.uk/</i></small>
            </div>
        </div>

        <div class="card bg-light text-dark mt-4" *ngIf="daysAvg">
            <div class="card-header">
                EPSRC Average Spend visualization
            </div>
            <div class="card-body">
                <app-chart [width]="600" [height]="350" [type]="daysAvg.type" [title]="daysAvg.title"
                    [xAxis]="daysAvg.xAxis" [seriesA]="daysAvg.seriesA"></app-chart>

            </div>
            <div class="card-footer">
                <small>Data has been retrieved from: <i>https://data.gov.uk/</i></small>
            </div>
        </div>

        <div class="card bg-light text-dark mt-4" *ngIf="daysMaxMin">
            <div class="card-header">
                EPSRC Maximum & Minimum Spend visualization
            </div>
            <div class="card-body">
                <app-chart [width]="600" [height]="350" [type]="daysMaxMin.type" [title]="daysMaxMin.title"
                    [xAxis]="daysMaxMin.xAxis" [seriesA]="daysMaxMin.seriesA" [seriesB]="daysMaxMin.seriesB">
                </app-chart>
            </div>
            <div class="card-footer">
                <small>Data has been retrieved from: <i>https://data.gov.uk/</i></small>
            </div>
        </div>




    </div>
</div>
<footer *ngIf="viewState === STATES.NORMAL">
    <nav class="navbar navbar-light bg-light">
        <small> <i><a href="https://data.gov.uk/dataset/spend-transactions-by-epsrc"
                    target="_blanc">https://data.gov.uk/dataset/spend-transactions-by-epsrc</a></i></small>
    </nav>
</footer>